*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    font-family: "Inter", sans-serif;
    font-weight: 400;

}
.main{
    height: 100vh;
    width: 100%;
    background-color: rgba(77, 230, 94, 0.882);
    background-image: linear-gradient(to right, rgb(73, 246, 93) , rgb(216, 0, 198));


}
.nav{
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.nav-part-1{
    display: flex;
    align-items:center ;
    justify-content: center;
}
.nav img{
    height: 80px;
    width: auto;
    margin: 60px;
    cursor: pointer;

}
.nav-part-1 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    
}
.nav-part-1 ul li:hover{
    background-image: linear-gradient(to right, rgb(35, 228, 18) , rgb(252, 50, 231));
     background-color: black;
    color: rgb(233, 233, 233);
    font-size: 15px;
    padding: 12px 40px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    border-top-left-radius: 0;
   
    
    
    
}
.nav-part-1 ul li{
    margin-right: 40px;
    text-transform: uppercase;
     background-color: black;
    color: rgb(253, 169, 0);
    font-size: 15px;
    padding: 12px 40px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    border-top-left-radius: 0;
   
    
}
.nav-part-2 i{
    margin-right: 40px;
    font-size: 20px;
    font-size: 500;
    cursor: pointer;

}
.content{
    height: calc(100% -110px);
    width: 100%;
    position: relative;
    display: flex;
}
.content-left{
    height: 100%;
    width: 40%;
    padding: 80px 100px;

}
.content-left h5{
    font-size: 20px;
    text-transform: capitalize;
    color: #555;
    margin-bottom: 10px;
    
}
.content-left h1{
    font-size: 55px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 25px;
}
.content p{
    font-size: 20px;
    color: #000;
    width: 80%;
    margin-bottom: 30px;
}
.btn:hover{
    background-color: #c63333;
    color: #fff;
    
}
.btn{
    background-color: black;
    color: aqua;
    font-size: 15px;
    padding: 12px 40px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    border-top-left-radius: 0;
   
}
.content-right{
    height: 100%;
    width: 60%;
    padding: 110px 100px;
    white-space: nowrap;
    overflow-x: auto; 

}
.content-right::-webkit-scrollbar{
    display: none;
}
.product{
    height: 350px;
    width: 250px;
    background-color: rgba(252, 252, 252, 0.992);
    position: relative;
    box-shadow: 0 10px 10px 5px rgba(87, 116, 114, 0.184);
    display: inline-block;
    margin-right: 20px;
    border: 30px;
  
}
.product img{
    height: 88%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 20%;
    border-top: 50%;
  
    
}
.product h4{
    font-size: 18px;
    text-transform: capitalize;
    position: absolute;
   bottom: 20%;
}
.catagory{
    position: absolute;
    bottom: 20px;
    font-weight: 500;
     text-transform: capitalize;
}
.color{
    position: absolute;
    bottom: -1%;
    font-weight: 500;
    text-transform: capitalize; 

}
.price{
    font: 18px;
    position: absolute;
    bottom: -8%;
    font-weight: 600;
    text-transform: capitalize;
}


